.header {
  min-height: 840px;
  position: relative;

  &__decorations {
    background-color: $bg-1;
    display: block;
    z-index: 3;
    position: absolute;

    &--one {
      width: 20px;
      height: 62px;
      top: 193px;
      left: 0;
      opacity: 0.35;
    }

    &--two {
      width: 40px;
      height: 11px;
      top: 526px;
      left: 0;
      opacity: 0.6;
    }

    &--three {
      width: 60px;
      height: 20px;
      top: 160px;
      right: 0;
      opacity: 0.7;
    }

    &--four {
      width: 120px;
      height: 10px;
      top: 175px;
      right: 0;
      opacity: 0.45;
    }

    &--five {
      width: 60px;
      height: 20px;
      top: 720px;
      right: 0;
      opacity: 0.45;
    }
  }

  &__logo-img {
    max-width: 185px;
    max-height: 51px;

    @media (max-width: 576px) {
      max-width: 155px;
    }
  }

  &__nav {
    margin-top: 10px;
    position: relative;
  }

  &__menu {

    @media (max-width: 1200px) {
      display: none;
      background-color: $white;
      position: absolute;
      width: 100%;
      width: 250px;
      top: 70px;
      right: 0;
      z-index: 4;

      &:before {
        content: " ";
        position: absolute;
        top: -10px;
        right: 15px;
        border-style: solid;
        border-width: 0 6px 10px 6px;
        border-color: transparent transparent #ffffff transparent;
      }
    }
  }

  &__link {
    font-size: 13px;
    font-weight: 700;
    color: $white;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    transition: color 0.5s ease;

    @media (max-width: 1200px) {
      color: $black;
    }

    &:hover {
      color: $bg-1;
      padding-bottom: 10px;
      border-bottom: 1px solid $bg-1;
    }

    &--lang {
      font-size: 14px;
      text-transform: none;

      @media (max-width: 1200px) {
        color: $white;
      }
    }
  }

  &__burger {
    display: none;
    width: 40px;
    height: 4px;
    border: transparent;
    outline: transparent;
    border-radius: 2px;
    position: relative;
    background-color: $black;

    &::before,
    &::after {
      content: " ";
      position: absolute;
      width: 40px;
      height: 4px;
      border-radius: 2px;
      left: 0;
      background-color: $black;
      transition: 0.3s ease-in-out;
    }

    &::before {
      top: 10px;
    }

    &::after {
      top: -10px;
    }

    @media (max-width: 1200px) {
      display: block;
    }
  }

  &__language {
    margin-left: 45px;
    position: relative;

    &:before {
      content: " ";
      width: 1px;
      height: 40px;
      position: absolute;
      top: -5px;
      left: -24px;
      background-color: #E29CFF;

      @media (max-width: 1200px) {
        left: 100px;
        top: 5px;
      }

      @media (max-width: 576px) {
        left: 85px;
      }
    }

    @media (max-width: 1200px) {
      margin-right: 40px;
      display: flex;
    }

    @media (max-width: 576px) {
      margin-left: 0;
      margin-right: 20px;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 11px;

    &--item {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 576px) {
        margin: 0;
      }
    }

    @media (max-width: 1200px) {
      display: block;
      padding: 10px;

      &:hover {
        color: $bg-1;
        transform: translate(5px);
      }
    }
  }

  &__inner {
    position: relative;
    min-height: 840px;
  }

  &__inner-decorations {
    background-color: $bg-1;
    display: block;
    z-index: 3;
    position: absolute;
    width: 60px;
    height: 10px;
    opacity: 0.7;

    &--1 {
      width: 120px;
      height: 10px;
      bottom: 0;
      left: 0;
    }

    &--2 {
      bottom: -10px;
      left: 120px;
    }

    &--3 {
      bottom: 0;
      left: 420px;
    }

    &--4 {
      bottom: 10px;
      left: 480px;
    }

    &--5 {
      bottom: 50px;
      left: 780px;
      width: 120px;
      height: 20px;
    }

    &--6 {
      bottom: -10px;
      width: 120px;
      right: 360px;
    }

    &--7 {
      bottom: -20px;
      width: 183px;
      height: 30px;
      right: 196px;
      z-index: 4;
    }

    &--8 {
      bottom: -10px;
      width: 120px;
      right: 120px;
      background-color: #041A69;
    }

    &--9 {
      top: 240px;
      width: 120px;
      height: 40px;
      right: 400px;
      opacity: 0.3;
    }

    &--10 {
      top: 0;
      width: 16px;
      height: 3px;
      right: 34px;
    }
  }

  &__box {
    position: absolute;
    max-width: 1320px;
    width: 100%;
    z-index: 2;
    top: 39px;
  }

  &__image-01 {
    position: absolute;
    top: 0;
    right: 34%;
    width: 100%;
    z-index: 1;
    height: 840px;
  }


  &__image-02 {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 840px;
  }

  &__title-box {
    top: 300px;
    position: absolute;
    z-index: 1;

    @media (max-width: 992px) {
      top: 200px;
    }
  }

  &__title {
    font-size: 86px;
    color: $white;
    font-weight: 700;
    line-height: 83.5px;
    margin-bottom: 56px;

    @media (max-width: 992px) {
      font-size: 60px;
    }

    @media (max-width: 768px) {
      font-size: 50px;
    }

    @media (max-width: 576px) {
      font-size: 36px;
    }
  }

  &__date {
    margin-bottom: 85px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__final {
    font-size: 16px;
    color: $violet-text;
    display: block;
    margin-bottom: 15px;

    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  &__online {
    color: $white;
    font-size: 28px;
    font-weight: 600;
    min-width: 300px;

    &:first-child {
      margin-right: 60px;

      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
    }

    @media (max-width: 576px) {
      font-size: 22px;
    }
  }

  &__btn-item {
    position: relative;

    &--left {
      max-width: 360px;
      margin-right: 30px;

      &:after,
      &:before {
        content: " ";
        position: absolute;
        background-color: $bg-1;
        transition: all 0.5s ease;
      }

      &:before {
       width: 184px;
        height: 20px;
        top: -10px;
        left: 30px;
        opacity: 0.35;
        z-index: -1;
      }

      &:after {
        width: 60px;
        height: 5px;
        right: 60px;
        bottom: -5px;
        opacity: 0.55;
      }

      &:hover:before {
        width: 100px;
        height: 40px;
        transform: translateX(250px);
      }

      &:hover:after {
        width: 80px;
        height: 5px;
        transform: translateX(-190px);
      }
    }

    &--right {
      max-width: 340px;
      position: relative;

      &:after,
      &:before {
        content: " ";
        position: absolute;
        background-color: $bg-1;
        z-index: -1;
        height: 15px;
        transition: all 0.5s ease;
      }

      &:after {
        width: 180px;
        opacity: 0.3;
        right: 60px;
        bottom: 0;
      }

      &:before {
        opacity: 0;
        width: 80px;
        left: 100px;
        top: 3px;
      }

      &:hover:before {
        opacity: 0.3;
      }
    }
  }

  &__image-03 {
    opacity: 0;
  }

  &__button {

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__btn {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: block;
    transition: all 0.5s ease;

    &:hover {
      background-color: $white;
      color: $bg-1;
    }

    &:hover:after {
      color: $bg-1;
    }

    &--btn1 {
      color: $white;
      width: 360px;
      max-height: 80px;
      font-size: 26px;
      font-weight: 600;
      padding: 22px 90px 26px 30px;
      background-color: $bg-1;
      position: relative;

      &:after {
        content: "\e87a";
        color: #fff;
        position: absolute;
        right: 30px;
        font-size: 30px;
        font-family: 'Linearicons-Free';

        @media (max-width: 768px) {
          font-size: 25px;
          right: 20px;
        }
      }

      @media (max-width: 768px) {
        font-size: 20px;
        width: 280px;
        padding: 22px 30px 26px 30px;
      }
    }

    &--btn2 {
      color: $violet-text;
      width: 340px;
      margin-top: 10px;
      max-height: 60px;
      font-size: 22px;
      padding: 16px 70px 15px 20px;
      background-color: $bg-2;
      position: relative;


      &:after {
        content: "\e87a";
        color: #fff;
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 25px;
        font-family: 'Linearicons-Free';

        @media (max-width: 768px) {
          font-size: 20px;
          right: 20px;
        }
      }

      @media (max-width: 992px) {
        margin-top: 30px;
      }

      @media (max-width: 768px) {
        font-size: 16px;
        width: 260px;
        padding: 16px 30px 15px 20px;
      }
    }
  }
}